<html>
  <head>
    <title>Froo.sh</title>
    	<link rel="stylesheet" href="/css/style.css" />
    	<link type="text/css" href="/css/Aristo/jquery-ui-1.8.7.custom.css" rel="stylesheet" />	
			<link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
			<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
		<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
		<script type="text/javascript" src="/js/froosh/froosh.js"></script>
		<script type="text/javascript">
			$(function(){
		
				// Style default buttons
				// TODO: Move this into an application js library
				$(".button-edit").button({ icons: {	primary: 'ui-icon-wrench' }	});
				$(".button-delete").button({ icons: { primary: 'ui-icon-trash' } });
				$(".button-home").button({ icons: {	primary: 'ui-icon-home'	} });
				$(".button-submit").button({ icons: { primary: 'ui-icon-disk' } });
				$(".button-cancel").button({ icons: {primary: 'ui-icon-close' } });
				
			});
			
		</script>
  </head>
  <body id="index" class="desktop">
  	<div id="container">
			<div id="header">
				<a href="/" class="image"><img src="/images/logo.png" /></a>
				<div class="subhead">food <span class="dark">:</span> sweet <span class="dark">:</span> food</div>
			</div>
			<div id="content">
    		<%- body %>
    	</div>		
			<footer>
				&copy; 2011 froo.sh | <a href="http://nyc.startupweekend.org/">nyc startup weekend</a> | <a href="#">about</a> | <a href="/?mobile=true">mobile site</a>
			</footer>
    </div>
  </body>
</html>