<!DOCTYPE html>
<html>
  <head>
    <title>Froo.sh mobile</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<link rel="stylesheet" href="/css/style.css" />
    	<link type="text/css" href="/css/Aristo/jquery-ui-1.8.7.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
		<script type="text/javascript" src="/js/froosh/froosh.js"></script>
		<script type="text/javascript">
			$(function(){
		
				// Style default buttons
				// TODO: Move this into an application js library
				$(".button-edit").button({ icons: {	primary: 'ui-icon-wrench' }	});
				$(".button-delete").button({ icons: { primary: 'ui-icon-trash' } });
				$(".button-home").button({ icons: {	primary: 'ui-icon-home'	} });
				$(".button-submit").button({ icons: { primary: 'ui-icon-disk' } });
				$(".button-cancel").button({ icons: {primary: 'ui-icon-close' } });
				
			});
			
		</script>
  </head>
  <body id="mobile-index" onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">  	
  	<div id="container">
	  	<div id="header">
				<a href="/" class="logo"><img src="/images/logo_mobile.jpg" /></a>
			</div>
			<div id="content">
    		<%- body %>
				<section id="loading" class="autohide">
				  <div class="spinner"> 
				    <div class="bar1"></div> 
				    <div class="bar2"></div> 
				    <div class="bar3"></div> 
				    <div class="bar4"></div> 
				    <div class="bar5"></div> 
				    <div class="bar6"></div> 
				    <div class="bar7"></div> 
				    <div class="bar8"></div> 
				    <div class="bar9"></div> 
				    <div class="bar10"></div> 
				    <div class="bar11"></div> 
				    <div class="bar12"></div> 
				  </div>
				</section>
    	</div>		
    </div>
		<footer>
			&copy; 2011 Froo.sh | <a href="/?mobile=false">desktop site</a>
		</footer>
  </body>
</html>