<section id="intro">
	<div class="intro-container">
		<div class="intro-content">
			Find fresh, locally-grown <br />
			food near you.
			<div class="intro-cta">
				<a href="#">Learn more</a>
				<span class="light-gray"> : </span>
				<a href="#">Search now</a>
			</div>
		</div>
	</div>
</section>
<section id="specials-list" class="block">
	<div class="title">
		Recent specials
	</div>
	<p>
		Right now we are in a limited beta. Search for nearby restaurants on your GPS-enabled phone using our <a href="/">http://froo.sh</a> mobile site!
	</p>
</section>
<section id="mobile-promo" class="block">
	<div class="title">
		Froo.sh mobile
	</div>
	<p>Simply go to <a href="/">http://froo.sh</a> on your GPS-enabled phone!</p>
	<img src="/images/phones.png" />
</section>
