<section id="home" class="autohide">
	Welcome!
	<a href="/restaurant/nearby" class="findStuff">Find stuff nearby</a>
</section>
<section id="menu" class="autohide">
	menu..
</section>
<section id="results" class="autohidex">
	<ul>
		<li>
			<div class="resultSpecial">First Result</div>
			<div class="resultDetails">
				<span class="resultRestaurant">Restaurant Name</span>
				<span class="resultDistance">0.1m</span>
			</div>
		</li>
		<li>
			<div class="resultSpecial">Second</div>
			<div class="resultDetails">
				<span class="resultRestaurant">Restaurant Name</span>
				<span class="resultDistance">0.2m</span>
			</div>
		</li>
		<li>
			<div class="resultDetails">
				<span class="resultRestaurant">Loser Restaurant</span>
				<span class="resultDistance">0.1m</span>
			</div>
		</li>
	</ul>
</section>
<section id="debug" class="autohide">
	<div id="location">
		latitude: <span id="lat"></span><br />
		longitude: <span id="lng"></span>
	</div>
</section>
<section id="askForLocation" class="autohide">
	<p>Requesting location... (click "Allow"/"Share")</p>
</section>
<section id="requiresLocation" class="autohide">
	<p>This feature requires your current location.</p>
</section>
<script>
showView("home");
</script>