
<h1>Editing Restaurant <%= restaurant.name %></h1>
<%- partial('../messages') %>
<form method="post" action="/restaurant/edit/<%= restaurant.id %>">
  <input type="hidden" name="_method" value="put" />
  <p>Name: <input type="text" name="restaurant[name]", value="<%= restaurant.name %>" /></p>
  <p>Phone: <input type="text" name="restaurant[phone]", value="<%= restaurant.phone %>" /></p>
  <p>Latest Deal: <input type="text" name="restaurant[latest_deal]", value="<%= restaurant.latest_deal %>" /></p>
  <p>Address: <input type="text" name="restaurant[address]", value="<%= restaurant.address %>" /></p>
  <p>Latitude: <input type="text" name="restaurant[latitude]", value="<%= restaurant.latitude %>" /></p>
  <p>Longitude: <input type="text" name="restaurant[longitude]", value="<%= restaurant.longitude %>" /></p>
  <p>
  	<button class="button-submit" type="submit" value="Update">Save</button>
  	<a class="button-cancel" href="/restaurant/show/<%= restaurant.id %>">Cancel</a>
  </p>
</form>
