<section id="viewRestaurant">
	<h1><a href="/restaurant/view/<%= restaurant.id %>"><%= restaurant.name %></a></h1>
	<p>
		<%= restaurant.address %> 
		<a href="http://maps.google.com/?q=<%= restaurant.address %> (<%= restaurant.name %>)" class="nocolor" style="text-decoration: none;">(map)</a>
		<%- restaurant.restaurant_phone ? "<br />"+restaurant.restaurant_phone : "" %>
		<%- restaurant.web_site ? "<br /><a href=\""+restaurant.web_site+"\">"+restaurant.web_site+"</a>" : "" %>
	</p>
	<div id="restaurantMap">
		<iframe width="400px" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
			src="http://maps.google.com/maps?q=<%= restaurant.address %> (<%= restaurant.name %>)&amp;z=14&amp;iwloc=&amp;output=embed"></iframe>
	</div>
	<% var latest = restaurant.getLatestSpecial();
		if (latest && latest.created_at.getTime() > (new Date()).getTime() - 86400*1000*7) { %>
			<p><strong>Latest special:</strong> <%= latest.text %> <em style="font-size: 80%;">posted <%= latest.created_at.getDate() %>-<%= latest.created_at.getMonth()+1 %>-<%= latest.created_at.getFullYear() %></em></p>
	<% } %>
	<p><%- markdown.parse(restaurant.description) %></p>
</section>
